on init

    # USB initialization
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    write /sys/class/android_usb/android0/f_rndis/manufacturer ST-Ericsson
    write /sys/class/android_usb/android0/f_rndis/vendorID 230B
    write /sys/class/android_usb/android0/f_rndis/wceis 0
    write /sys/class/android_usb/android0/f_acm/instances 1

    write /sys/class/android_usb/android0/idVendor 230B
    write /sys/class/android_usb/android0/idProduct 0100
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/iManufacturer ST-Ericsson
    write /sys/class/android_usb/android0/iProduct Bambook Phone

on post-fs-data

# Bambook configuration
on property:sys.usb.config=mass_storage,acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 230B
    write /sys/class/android_usb/android0/idProduct 0100
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 230B
    write /sys/class/android_usb/android0/idProduct 0100
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 230B
    write /sys/class/android_usb/android0/idProduct 0101
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 230B
    write /sys/class/android_usb/android0/idProduct 0101
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 230B
    write /sys/class/android_usb/android0/idProduct 0102
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 230B
    write /sys/class/android_usb/android0/idProduct 0102
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 230B
    write /sys/class/android_usb/android0/idProduct 0103
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

